<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
    <test parallel="methods" thread-count="2" name="Smoke test run">
        <classes>
            <class name="TestNGSampleProgram.TestNGSample1">
                <methods>
                    <include name="validationMethod"/>

                </methods>
            </class>

        </classes>
    </test>
</suite>